| <!DOCTYPE html>
| <html lang="en">
head
	meta(charset='utf-8')
	meta(name='viewport',content='width=device-width',initial-sclae='1.0')
	meta(name='description',content='')
	meta(name='author',content='')
	title = title
	link(rel='stylesheet',href='css/bootstrap.css')
	// Le HTML5 shim, for IE6-8 support of HTML elements
	// [if lt IE 9]
	//script(scr='http://html5shim.googlecode.com/svn/trunk/html5.js')
	// Le fav and touch icons
	link(rel='Le fav and touch icons', href='ico/favicon.ico')
	link(rel='apple-touch-icon',href='ico/bootstrap-apple-57x57.png')
	link(rel='apple-touch-icon',sizes='72x72',href='ico/bootstrap-apple-72x72.png')
	link(rel='apple-touch-icon',sizes='114x114',href=ico/bootstrap-apple-114x114.png')
| <body style="padding-top: 60px">
// top nav bar
div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle='collapse',data-target='nav-collapse')
				span(class='icon-bar')
				span(class='icon-bar')
				span(class='icon-bar')
				ul.nav.pull-right
					- if (everyauth.twitter || everyauth.facebook)
						li.dropdown
							- if (everyauth.twitter)
								a.dropdown-toggle(href='#',data-toggle='dropdown') #{everyauth.twitter.user.screen_name}
								b.caret
								ul.dropdown-menu
									li: a(href='/logout') Logout

							- else if (everyauth.facebook)
								a.dropdown-toggle(href='#',data-toggle='dropdown') #{everyauth.facebook.user.name}
								b.caret
								ul.dropdown-menu
									li: a(href='#') Logout
