include header
script
div.container-fluid
	div.row-fluid
		div.span6
			<div class="container">
			<div class="hero-unit">
			<h1>FlicksAt</h1>
			</div>
			<div class="row">
			<div class="span4">
			<p><h2>Flick Movies at Your Friends.</h2> </p><p><h2>They'll Love It.</h2><h2>Or Hate You.</h2><br><br><h2>It's Up to You.</h2> </p>
			</div>
			<div class="span4">
			<form action="/search" method="post" class="well">
			<label>Search</label>
			<input type="text" class="span3" placeholder="Type a movie name" name="moviename">
			<button type="submit" class="btn">Search</button>
			</form>
			</div>
			<br/>
			<div class="row">
			<div class="span16">
			<ul class="media-grid">
			<a href="#"><img src="http://www.movieposter.com/posters/archive/tiny/22/A70-11370" alt="" /></a>
			<a href="#"><img src="http://www.movieposter.com/posters/archive/tiny/1/A70-713" alt="" /></a>
			<a href="#"><img src="http://www.movieposter.com/posters/archive/tiny/102/MPW-51063" alt="" /></a>
			<a href="#"><img src="http://www.movieposter.com/posters/archive/tiny/145/MPW-72904" alt="" /></a>
			</ul>
			</div>
			</div>
			</div>
include footer
